

/*.row:after {
    clear: both;
    content: "";
    display: table;
}*/

.status {
    margin-bottom: 10px;
}



    .game-grid:focus {
        outline: none;
    }

    .game-grid .btn {
        background: #fff;
        border: hidden;
        padding: 0;
        /*height:17px;
        width:17px;
        line-height:17px;
        margin:0px 0px 0px 0px;*/
    }
    /*.game-grid .lefttop {
    }
    .game-grid .righttop {
        align-self:flex-start;
    }
    .game-grid .leftbottom {
        
    }
    .game-grid .rightbottom {
        float: left;
    }*/


.kbd-navigation .grid:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
