[submodule "CppCore"]
	path = CppCore
	url = git@gitee.com:UniCoderGroup/raychess-cppcore.git
[submodule "WebApp"]
	path = WebApp
	url = git@gitee.com:UniCoderGroup/raychess-webapp.git
[submodule "Win32TestApp"]
	path = Win32TestApp
	url = git@gitee.com:UniCoderGroup/raychess-win32testapp.git
[submodule "JsCore"]
	path = JsCore
	url = git@gitee.com:UniCoderGroup/raychess-jscore.git
